body{
    background-color: #25383C  !important;
  }

 

  .button {
     margin: 0%;
     margin-left: 45%;
     position: bottom;
     display: flex ;
    justify-content: center;
    align-items: center;
    position: bottom;
    bottom: 0;
    width: auto;
    height: 50px;
    
    border: none ;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: rgb(5, 119, 49); 
    color: rgb(252, 248, 248); 
    border: 2px solid #4CAF50;
  }

  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }